    :root {
        --darkGreen: #005144;
        --darkGreen-hover: #026151;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
    }

    .rectangleSideBalk {
        background-color: #80c8cc;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 12rem;
        overflow: hidden;
    }

    .dashBoardFrame {
        height: 4rem;
        position: absolute;
        top: 1rem;
        width: 100%;
    }

    .rectangleDashBoard {
        background-color: var(--darkGreen);
        height: 2.4rem;
        position: absolute;
        top: 0.8rem;
        width: 100%;
    }

    .gaugeIcon {
        height: 1.3712rem;
        left: 0.3526rem;
        position: absolute;
        top: 1.2105rem;
        width: 1.8947rem;
    }

    .dashBoard {
        font-family: "CO Headline";
        color: #f1f1f1;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        height: 1.7rem;
        left: 2.5rem;
        line-height: 0.7;
        position: absolute;
        top: 1.15rem;
        white-space: nowrap;
        width: 7.5rem;
    }



    .questionsButtonFrame {
        align-items: center;
        display: flex;
        height: 2.1rem;
        position: absolute;
        top: 4.9rem;
        width: 100%;
    }

    .questionsButtonFrame:hover .questions {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .questionIcon {
        height: 2.1rem;
        margin-right: 0.2rem;
        width: 2.1rem;
    }

    .questions {
        font-family: "CO Headline";
        color: var(--darkGreen);
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        padding-bottom: 0.4rem
    }


    .enabledFrame {
        align-items: center;
        display: flex;
        height: 2.1rem;
        position: absolute;
        top: 6.9rem;
        width: 100%;
    }

    .enabledFrame:hover .enabled {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .enabledIcon {
        height: 2.1rem;
        margin-right: 0.2rem;
        width: 2.1rem;
    }

    .enabled {
        font-family: "CO Headline";
        color: var(--darkGreen);
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        padding-bottom: 0.4rem
    }

    .visitedFrame {
        align-items: center;
        display: flex;
        height: 2.1rem;
        position: absolute;
        top: 8.9rem;
        width: 100%;
    }

    .visitedFrame:hover .visited {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .visitedIcon {
        height: 2.1rem;
        margin-right: 0.2rem;
        width: 2.1rem;
    }

    .visited {
        font-family: "CO Headline";
        color: var(--darkGreen);
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-top: 0.1rem;
        white-space: nowrap;
        padding-bottom: 0.4rem
    }

    .settingsFrame {
        align-items: center;
        display: flex;
        height: 1.55rem;
        position: absolute;
        top: 13.25rem;
        width: 100%;
    }

    .settingsFrame:hover .settings {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .gear {
        height: 1.4438rem;
        margin-right: 0.2rem;
        width: 2.1rem;
    }
    .beamerPowerToggle{
        font-family: "CO Headline";
        color: var(--darkGreen);
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        padding-bottom: 0.4rem;
        bottom: 7rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .beamerPowerToggleDiv {
        align-items: center;
        display: flex;
        height: 1.55rem;
        position: absolute;
        top: 13.25rem;
        width: 100%;
    }
    .beamerPowerToggleDivOn {
        align-items: center;
        display: flex;
        height: 1.55rem;
        position: absolute;
        bottom: 5rem;
        width: 5.2rem;
        left: 0.6rem;
    }
    .beamerPowerToggleOn{
        height: 100%;
        font-family: "CO Headline";
        font-size: 0.9rem;
        font-weight: 500;
        background-color: var(--darkGreen);
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        line-height: 0;
        width: 100%;
    }
    .beamerPowerToggleDivOff {
        align-items: center;
        display: flex;
        height: 1.55rem;
        position: absolute;
        bottom: 5rem;
        width: 5.2rem;
        right: 0.6rem;
    }
    .beamerPowerToggleOff{
        height: 100%;
        font-family: "CO Headline";
        font-size: 0.9rem;
        font-weight: 500;
        background-color: var(--darkGreen);
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        line-height: 0;
        width: 100%;
    }
    .beamerPowerToggleOn:hover {
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--darkGreen-hover);
    }
    .beamerPowerToggleOff:hover {
        font-size: 1rem;
        cursor: pointer;
        background-color: var(--darkGreen-hover);
    }

    .powerIcon {
        height: 1.4438rem;
        margin-right: 0.2rem;
        width: 2.1rem;
    }

    .settings {
        font-family: "CO Headline";
        color: var(--darkGreen);
        display: flex;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-bottom: 0.05rem;
        white-space: nowrap;
        padding-bottom: 0.4rem
    }

    .settingsLine {
        background-color: var(--darkGreen);
        height: 0.1rem;
        left: 0;
        position: absolute;
        top: 12rem;
        width: 100%;
    }

    .body {
        flex-shrink: 0;
        margin-top: 1.25rem;
        width: 100%;
        width: calc(100% - 12.5rem);
        max-width: 45rem;
        margin-left: 13rem;
    }

    .vragen {
        color: #000000;
        display: flex;
        font-family: Inter, 'CO Headline';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    .questionsBody {
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 1rem 1rem 1.2rem 1rem;
        width: 100%;
    }

    .questionsFrame {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: content-box;
    }

.questionFrame {
    display: flex;
    margin-bottom: 0.4rem;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: content-box;
    align-items: center;
    min-height: 2rem;
}
.questionLanguageBundle {
    box-sizing: content-box;
    width: 100%;
    min-height: 1.5rem;
}
.questionBorder {
    background-color: #ffffff;
    border: solid 0.1rem #d4d4d4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.question {
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    left: 0.4rem;
    line-height: 1.2125;
    position: relative;
    top: 0;
    width: calc(100% - 9rem);
    box-sizing: content-box;
    padding-bottom: 0.3rem;
    min-height: 1.5rem;
}
/* for placeholders in question divs */
.question[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}
.question:focus {
    outline: none;
}
.questionLanguageBundle {
    box-sizing: content-box;
}
.questionLanguageBundle:focus {
    outline: none;
}
.answers {
    left: 1.3rem;
    position: relative;
    width: calc(100% - 9.3rem);
    box-sizing: content-box;
}

.answers input[type="radio"] {
    position: absolute;
    z-index: 1; /* Ensure radio buttons are above the div elements */
}

.answerA {
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125;
    margin-bottom: 0.2rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
}
.answerA::before {
    content: 'A) ';
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125; 
    margin-right: 0.2rem;
    margin-left: 1rem;
}
.answerA:focus {
    outline: none;
}
.answerB {
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125;
    margin-bottom: 0.2rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
}
.answerB::before {
    content: 'B) ';
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125; 
    margin-right: 0.2rem;
    margin-left: 1rem;
}
.answerB:focus {
    outline: none;
}
.answerC {
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125; 
    width: calc(100% - 1rem);
    margin-left: 1rem;  	
}
.answerC::before {
    content: 'C) ';
    color: #000000;
    display: flex;
    font-family: Inter, 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125; 
    margin-right: 0.2rem;
    margin-left: 1rem;
}
.answerC:focus {
    outline: none;
}
.editframe {
    display: flex;
    border: solid 0.1rem #d9d9d9;
    border-radius: 0.5rem;
    height: calc(100% - 0.5rem);
    right: 0.2rem;
    position: absolute;
    width: 2.8rem;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    cursor: pointer;
    transition: border 0.3s ease;
}
.language {
    display: flex;
    border-radius: 0.5rem;
    height: calc(100% - 0.5rem);
    right: 6.4rem;
    position: absolute;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    font-family: Inter, 'Open Sans';
    font-size: 1rem;
}

.previousLanguage {
    display: flex;
    border-radius: 0.5rem;
    height: calc(100% - 0.5rem);
    right: 5rem;
    position: absolute;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    cursor: pointer;
    transition: border 0.3s ease;
}

.nextLanguage {
    display: flex;
    border-radius: 0.5rem;
    height: calc(100% - 0.5rem);
    right: 3.5rem;
    position: absolute;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    cursor: pointer;
    transition: border 0.3s ease;
}

.nextLanguage:hover {
    cursor: pointer;
    margin-bottom: 0.2rem;
}

.previousLanguage:hover {
    cursor: pointer;
    margin-bottom: 0.2rem;
}

    .editIcon {
        height: 1rem;
        width: 1rem;
    }


    .editframe:hover {
        border: solid 0.2rem #d9d9d9;
    }


    .buttonAddQuestion {
        background-color: var(--darkGreen);
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        margin-top: 0.2rem;
    }

    .buttonAddQuestion:hover {
        background-color: #026958;
    }

    /******************************************* Switch ***************************************** */
    .enableSwitch {
        position: absolute;
        display: inline-block;
        width: 3rem;
        height: 1.2rem;
        right: 0.2rem;
        margin-left: 1rem;
    }

    .enableSwitch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        display: flex;
        align-items: center;
        width: 3rem;
        height: 1.2rem;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        height: 80%;
        aspect-ratio: 1 / 1;
        position: absolute;
        content: "";
        left: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .BackButtonDiv {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0px;
        height: 4rem;
    }

    #backButton {
        height: 100%;

        font-family: "CO Headline";
        font-size: 0.9rem;
        font-weight: 500;

        background-color: var(--darkGreen);
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: 0.2rem;
    }

    #backButton:hover {
        background-color: var(--darkGreen-hover);
    }